*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center; 
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

fieldset {
  border: none;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  gap: 30px;
  align-items: flex-end;
  max-inline-size: 1140px;
}

.result__video-container {
  margin-bottom: 16px;
  min-inline-size: 711px;
  position: relative;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.search-form__fieldset {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: inline-flex;
  align-items: flex-start;
  gap: 5px;
  cursor: pointer;
  inline-size: fit-content;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__textfield {
  min-inline-size: 225px;
  font-family: inherit;
  font-size: 18px;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgb(255 255 255 / 0.7);
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  appearance: none;
  min-block-size: 27px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  min-inline-size: 212px;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  outline: 1px solid #fff;
}

.search-form__checkbox[type='checkbox']:checked
  + .search-form__pseudo-checkbox {
  outline: 1px solid #000;
  outline-offset: -2px;
  background-color: #fff;
}

.search-form__checkbox[type='checkbox']:active + .search-form__pseudo-checkbox {
  outline: 1px solid #000;
  outline-offset: -2px;
  background-color: #fff;
}

.button {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  min-block-size: 34px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: -3px;
}

.search-form__submit-button {
  align-self: flex-end;
  min-inline-size: 194px;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-self: flex-start;
  inline-size: 100%;
  min-block-size: 534px;
  min-inline-size: 399px;
}

.title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__list {
  max-block-size: 298px;
  position: relative;
  overflow: auto;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: #fff;
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
  text-decoration: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  display: grid;
  flex-grow: 1;
  gap: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  block-size: 100%;
}

.content__video-card-title {
  font-family: Oswald, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 100%;
  text-transform: uppercase;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 90%;
}

.content__video-card-thumbnail {
  object-fit: cover;
  object-position: center;
  max-inline-size: 194px;
  max-block-size: 103px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.more-button {
  width: 100%;
}